@import './styles/scroll.css';
@import './styles/vuesax.css';
@import './styles/ol-map.css';

:root {
    --card-border-radius: 40px;
    user-select: none;
}

body,
html,
#app {
    font-family: 'Poppins' !important;
}

[vs-theme='dark'] {
    --main-dark-background: #272727;
    --side-dark-background: #040404;
    --card-dark-background: #1c1c1c;
}
